/* telas do quem somos*/
.quem_somos-section {

    background-image: url("../img/quemsomos.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-family:'CamingoMono Light', sans-serif;
    font-size: 2.1rem; /* Levemente ajustado */
    font-weight: 400; /* Mantém a fonte fina e elegante */
}

.quem_somos_desafio-section {
    background-image: url("../img/hero-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(228, 226, 226);
    font-size: 2.1rem; /* Levemente ajustado */
    text-align: justify;
    font-family:'CamingoMono Light', sans-serif;
    font-style: normal;
    line-height: 1.5;
}