{% extends 'base.html' %}
{% load static %}

{% block title %}Quem Somos{% endblock %}

{% block content %}

<section class="quem_somos-section py-5">
    <div class="spacer-lg"></div>
    <div class="container">
        <div class="row align-items-center">

            <div class="col-md-7">
                <h2 class="mb-4 fw-bold">Quem somos</h2>
                <p class="lead fs-4">
                    Somos a Fapto – Fundação de Apoio Científico e Tecnológico <br> do Tocantins, uma instituição comprometida com <br> o fomento à ciência, à inovação e ao <br>desenvolvimento social.
                </p>
            </div>

            <div class="col-md-5 text-end">
                <img src="{% static 'img/logo_fapto_branca.png' %}" alt="Logo da FAPTO" class="img-fluid" style="max-width: 300px;">
            </div>

        </div>
    </div>
    <div class="spacer-lg"></div>
</section>


<section class="quem_somos_desafio-section">
    <div class="spacer-lg"></div>
    <div class="spacer-min"></div>
    <div class="container">
        <p class="text-justify">
            Diante dos desafios enfrentados por organizações e indivíduos na busca por oportunidades de financiamento, idealizamos o <strong>Buscador de Editais</strong> – uma plataforma digital criada para transformar a forma como você encontra e acompanha editais.
            <br><br>
            Nosso propósito é <strong> democratizar o acesso à informação </strong>, promovendo uma ponte eficiente entre quem oferta e quem precisa de apoio para seus projetos. Acreditamos no poder da tecnologia para simplificar processos, otimizar tempo e gerar impacto positivo.
        </p>
    </div>
    <div class="spacer-min"></div>
    <div class="spacer-lg"></div>
</section>

{% endblock %}